:root {
    --colorWhite: #ffffff;
    --colorLowGrey: #f5f6f7;
    --colorText: #1c1c1c;
    --colorText2: #4b5563;
    --colorBordersAndSplitters: #e5e7eb;
    --colorDarkGrey: #2c2c2c;
    --colorYellow: #ffd54a;
    --colorLowYellow: #fcdd74;
    --colorBlack: #000000;
    --colorRed: #ba2020;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, Impact;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.header-container {
    background-color: var(--colorDarkGrey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.main-container {

    display: "flex";
    flex-direction: column;
    height: 100vh;
    overflow :hidden;

}
.pages-container {
    flex : 1;
}

.image-container{
    width : 80%;
    height : 100%;
}
.app-title {
    color: var(--colorWhite);
    font-weight: bold;
    font-size: 2.8rem;
    letter-spacing: 1px;
    font-family: Impact, sans-serif;
}

    .app-title .highlight {
        color: var(--colorYellow);
    }

.header-name {
    color: var(--colorWhite);
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-family: Impact, sans-serif;
}

.header-group {
    color: var(--colorWhite);
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    font-family: Impact, sans-serif;
    background: none;
    border: none;
}

.logout-icon {
    cursor: pointer;
    transition: opacity 0.2s ease;
}

    .logout-icon:hover {
        opacity: 0.7;
    }

.scroll-container {
    max-height: 100vh;
    overflow-y: auto;
}

    
    .scroll-container::-webkit-scrollbar {
        width: 6px; 
    }

    .scroll-container::-webkit-scrollbar-track {
        background: #f0f0f0; 
        border-radius: 10px;
    }

    .scroll-container::-webkit-scrollbar-thumb {
        background-color: #b5b5b5; 
        border-radius: 10px;
    }

    .scroll-container::-webkit-scrollbar-thumb:hover {
        background-color: #9a9a9a;
    }

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.popup-container {
    width: 40%;
    min-width: 350px;
    background: white;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
}

.popup-info {
    border-top: 6px solid #007bff;
}

.popup-warning {
    border-top: 6px solid var(--colorYellow);
}

.popup-error {
    border-top: 6px solid var(--colorRed);
}

.popup-base {
    border-top: 6px solid var(--colorDarkGrey);
}

.popup-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: Impact, sans-serif;
}

.popup-description {
    font-size: 1rem;
    margin-bottom: 20px;
}

.popup-button {
    background-color: var(--colorDarkGrey);
    color: var(--colorWhite);
    padding: 10px 25px;
    border: 1px solid var(--colorBlack);
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    .popup-button:hover {
        background-color: #1a1a1a;
    }

    group-button{

    }
