:root {
    --colorWhite: #ffffff;
    --colorLowGrey: #f5f6f7;
    --colorText: #1c1c1c;
    --colorText2: #4b5563;
    --colorBordersAndSplitters: #e5e7eb;
    --colorDarkGrey: #2c2c2c;
    --colorYellow: #ffd54a;
    --colorLowYellow: #fcdd74;
    --colorBlack: #000000;
    --colorRed: #ba2020;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, Impact;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color : var(--colorWhite)
}

.h-05 {
    height: 5vh;
}

.h-10 {
    height: 10vh;
}

.h-20 {
    height: 20vh;
}

.h-30 {
    height: 30vh;
}

.h-35{
    height: 35vh;
}
.h-40 {
    height: 40vh;
}
.h-60 {
    height: 60vh;
}

.h-70 {
    height: 70vh;
}
.h-80 {
    height: 80vh;
}
.w-10 {
    width: 10vh;
}

.w-20 {
    width: 20vh;
}

.w-30 {
    width: 30vh;
}

.w-40 {
    width: 40vh;
}
.w-45{
    width: 45vh;
}
.w-60 {
    width: 60vh;
}

.w-70 {
    width: 70vh;
}
.w-80 {
    width: 80vh;
}
.w-90 {
    width: 90vh;
}

fs-detail{
    font-size: 15px;
}

.grey-container {
    border-color: var(--colorBordersAndSplitters);
    background-color: var(--colorLowGrey);
    border-radius: 5px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.grey-container-detail {
    border-color: var(--colorBordersAndSplitters);
    background-color: var(--colorLowGrey);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.white-container {
    border-color: var(--colorBordersAndSplitters);
    background-color: var(--colorWhite);
    border-radius: 5px;
}
.title-impact{
    font-family: Impact , sans-serif ;
    font-size : 42px;
}
.title-impact-2 {
    font-family: Impact, sans-serif;
    font-size: 30px;
}
.title-impact-3 {
    font-family: Impact, sans-serif;
    font-size: 20px;
}

.input-value {
    display: block;
    width: 50%;
    padding: 6px 12px;
    background-color: var(--colorWhite);
    border: 1px solid var(--colorBordersAndSplitters);
    border-radius: 6px;
    color : var(--colorBlack)
}
.input-value:disabled{
    
    background-color: var(--colorLowGrey);
}

.input-value-2 {
    display: block;
    width: 50%;
    padding: 6px 12px;
    background-color: var(--colorLowGrey);
    border: 1px solid var(--colorBordersAndSplitters);
    border-radius: 6px;
    color: var(--colorBlack)
}

    .input-value-2:disabled {
        background-color: var(--colorWhite);
    }

.button-yellow {
    background-color: var(--colorYellow); 
    color: var(--colorText); 
    border: 1px solid var(--colorBlack); 
    border-radius: 8px; 
    padding: 0.5rem 1rem; 
    font-weight: bold;
}

.button-low-yellow {
    background-color: var(--colorLowYellow);
    color: var(--colorText);
    border: 1px solid var(--colorBlack);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    height : 250px;
}

.button-yellow.createUser {
    width: 40%;
    height: 100%;
}

.button-yellow.createGroup {
    width: 100%;
    height: 30%;
}

.button-darkGrey {
    background-color: var(--colorDarkGrey);
    color: var(--colorWhite);
    border: 1px solid var(--colorBlack);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    width: 50%;
    height: 100%;
}

.button-red {
    background-color: var(--colorRed);
    color: var(--colorText);
    border: 1px solid var(--colorBlack);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.dashboard-icon-btn {
    width : 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-title {
    color: var(--colorBlack);
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-family: Impact, sans-serif;
}
.white-container-button {
    background-color: var(--colorWhite);
    border: none;
}

.table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.table-container-printer-detail {
    display: flex;
    flex-direction: column;
    height: 67%;
    margin-left: 8px;
    margin-right:4px;
    margin-top:8px;
    margin-bottom:8px;
}

.table-scroll {
    flex: 1;
    overflow-y: auto;
    padding-right: 5px;
}

    .table-scroll::-webkit-scrollbar {
        width: 6px;
    }

    .table-scroll::-webkit-scrollbar-track {
        background: #f0f0f0;
        border-radius: 10px;
    }

    .table-scroll::-webkit-scrollbar-thumb {
        background-color: #b5b5b5;
        border-radius: 10px;
    }

    .table-scroll::-webkit-scrollbar-thumb:hover {
        background-color: #9a9a9a;
    }

.invitation-container {
    overflow-y: auto;
    max-height: 300px;
}


.table-container table thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.table-container-printer-detail table thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}


.table {
    border-collapse: collapse;
}

    .table th {
        background-color: #f5f5f5;
        text-align: left;
    }

    .table td {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }

.printer-card {
    background: white;
    border: 1px solid var(--colorBordersAndSplitters);
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    color: var(--colorBlack);
    width: 100%;
    height : 300px;
    
}
.printer-card:hover {
    background-color: #ededed;
    transition: 0.2s;
}

.status-badge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 600;
    border: 1.5px solid;
    background-color: transparent;
    text-align: center;
}

.status-active {
    color: #2e7d32;
    border-color: #2e7d32;
}

.status-out {
    color: #c62828;
    border-color: #c62828;
}

.status-maintenance {
    color: #616161;
    border-color: #9e9e9e;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .pagination-container select {
        border-radius: 6px;
        border: 1px solid #ccc;
    }

.pagination-buttons button {
    margin: 0 4px;
    padding: 6px 12px;
    color: var(--colorText);
    border: 2px solid var(--colorBordersAndSplitters);
    border-radius: 8px 8px;
    background-color: var(--colorLowYellow);
}

.pagination-buttons button:hover:not(:disabled) {
    background-color: var(--colorDarkGrey);
}

    .pagination-buttons button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        border: none
    }

.pagination-fixed {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #ddd;
    background: #f8f8f8;
}

.pagination-detail-fixed {
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 1px solid #ddd;
    background: #f8f8f8;
}