name: Dev Build

on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  call-reusable:
    uses: ./.github/workflows/cd-build-and-push.yml
    with:
      tag: dev
      isLatest: false
      composeTag: dev
