name: Manual Build

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build"
        required: true
        type: string
      commit:
        description: "Commit SHA"
        required: false
        type: string

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      sha: ${{ steps.sha.outputs.value }}
    steps:
      - name: Checkout selected branch
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Determine commit SHA
        id: sha
        run: |
          if [ -z "${{ inputs.commit }}" ]; then
            echo "value=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          else
            echo "value=${{ inputs.commit }}" >> $GITHUB_OUTPUT
          fi

  call-reusable:
    needs: prepare
    uses: ./.github/workflows/cd-build-and-push.yml
    secrets: inherit
    with:
      tag: "${{ inputs.branch }}-${{ github.run_id }}-${{ needs.prepare.outputs.sha }}"
      isLatest: false
      composeTag: ""
