name: Manual Build

on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to build"
        required: true
        type: string
      commit:
        description: "Commit SHA "
        required: false
        type: string

jobs:
  call-reusable:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout selected branch
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Determine commit SHA
        id: sha
        run: |
          if [ -z "${{ inputs.commit }}" ]; then
            echo "value=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT
          else
            echo "value=${{ inputs.commit }}" >> $GITHUB_OUTPUT
          fi

      - name: Call reusable workflow
        uses: ./.github/workflows/cd-build-and-push.yml
        secrets: inherit
        with:
          tag: "${{ inputs.branch }}-${{ github.run_id }}-${{ steps.sha.outputs.value }}"
          isLatest: false
          composeTag: ""
